body {
    text-align: center;
}
nav {
    align-content: space-around;
    font-weight: bold;
    font-variant: small-caps;
}
div {
    margin: 15px;
    padding: 20px;
    border-radius: 25px;
}
button {
    transition-duration: 0.4s;
    background-color: black;
    color: white;
    padding: 10px 24px;
    text-align: center;
    border-radius: 8px;
}
button:hover {
    background-color:white;
    color: black;
}
input[type=text] {
    padding: 8px 15px;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    border: 3px solid #555;
    width: 50%;
  }
#confirmation {
    font-weight: lighter;
    font-variant: small-caps;
  }